/* line 1, ../compass/sass/main.scss */
#intro-page-wrapper {
  text-align: center;
  overflow: scroll;
  position: absolute;
  width: 100%;
  background-color: rgba(25, 25, 51, 0.95);
  top: 0px;
  left: 0px;
  z-index: 1000000000;
  color: #f2f2f2;
}

/* line 13, ../compass/sass/main.scss */
#intro-page-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 3%;
}

/* line 20, ../compass/sass/main.scss */
#intro-page-wrapper p {
  line-height: 125%;
  width: 60%;
  margin: auto;
  text-align: justify;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  font-weight: 300;
}

/* line 31, ../compass/sass/main.scss */
#intro-page-wrapper button {
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
  width: 225px;
  padding: 15px;
  color: white;
  background-color: #757584;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  border: 0px;
  letter-spacing: 3px;
}

/* line 46, ../compass/sass/main.scss */
#intro-page-wrapper button:hover {
  cursor: pointer;
  background-color: #a3a3ad;
}

/* line 51, ../compass/sass/main.scss */
#movie-wrapper {
  color: white;
}
/* line 53, ../compass/sass/main.scss */
#movie-wrapper img {
  width: 100%;
}
/* line 56, ../compass/sass/main.scss */
#movie-wrapper .search-form {
  margin-top: 20px;
  text-align: center;
}
/* line 60, ../compass/sass/main.scss */
#movie-wrapper .movie-row {
  overflow: hidden;
  clear: both;
  margin: 10px;
}
/* line 64, ../compass/sass/main.scss */
#movie-wrapper .movie-row .now-playing-movie {
  float: left;
  width: 23%;
  margin: 1%;
}
/* line 70, ../compass/sass/main.scss */
#movie-wrapper .modal {
  background-color: black;
  opacity: 0.85;
}
